.footer {
  background: linear-gradient(
    to right,
    rgba(248, 249, 250, 0),
    rgba(248, 249, 250, 0.15),
    rgba(248, 249, 250, 0)
  );
  text-align: center;
  padding: 24px 0;
}

.footer_links {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}

.footer_links div {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hide_mobile {
  display: none;
}
