.scroller_items .vertical_content {
  width: 260px;
  height: 462px;
  object-fit: cover;
}

@media (min-width: 644px) {
  .scroller_items .vertical_content {
    width: 300px;
    height: 533px;
  }
}

.short_video_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.scroller_items {
  overflow-x: auto;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.scroller_item {
  flex: 0 0 260px;
  text-align: center;
  position: relative;
}

.scroller_item .item_360_photo img[loading] {
  width: 300px;
}

.scroller_item .item_360_photo {
  flex: 0 0 300px;
  text-align: center;
}

.scroller_item.ad {
  flex: 0 0 336px !important;
  text-align: center;
}

@media (min-width: 644px) {
  .scroller_item {
    flex: 0 0 300px;
  }

  .scroller_items .item_360_photo {
    flex: 0 0 400px;
  }

  .scroller_items .item_360_photo img[loading] {
    width: 400px;
  }
}

.scroller_items .scroller_item:not(:first-child) {
  margin-left: 10px;
}

.scroller_left_arrow,
.scroller_right_arrow {
  top: 0;
  bottom: 0;
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  display: none;
  user-select: none;
  align-items: center;
}

.scroller_left_arrow {
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.scroller_right_arrow {
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.youtube_video {
  height: 168px;
  object-fit: cover;
  width: 300px;
}

.scroller_items .youtube_video {
  max-width: 400px !important;
  width: 400px;
  height: 224px;
  object-fit: cover;
}

.is_gallery:not(.ad)::after {
  content: url('/images/gallery.svg');
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.instagram_highlights_items .ad {
  grid-column: 1 / 3;
}

@media (min-width: 1420px) {
  .instagram_highlights_items .ad {
    grid-column: 1 / 2;
  }
}

.instagram_highlights_items .scroller_item {
  margin-bottom: 16px;
}

.external_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.external_links a {
  display: flex;
}

.location a {
  margin-top: 4px;
}

.video_thumbnail {
  position: relative;
}
