body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.list-group {
  margin-top: 32px;
  width: 100%;
  text-align: center;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 16px 20px;
  box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  font-size: 16px;
  color: #212529;
  position: relative;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.list-group-item {
  position: relative;
  display: block;
  text-decoration: none;
}

.list-group-item-action {
  width: 100%;
  text-align: inherit;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  text-decoration: none;
  background-color: #f8f9fa;
}

.container {
  max-width: 680px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: -1;
  background-image: url(/profile-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.25;
  filter: blur(50px);
}

.list-group {
  width: 100%;
  text-align: center;
}

.list-group-item {
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 16px 20px;
  box-shadow: rgba(10, 11, 13, 0.08) 0px 2px 4px 0px;
  font-size: 16px;
  color: #212529;
  position: relative;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.list-group-item img {
  position: absolute;
  left: 4px;
  top: 4px;
  border-radius: 4px;
}

.list-group-item:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 32px;
}

.profile a:hover {
  text-decoration: none;
}

.profile_picture {
  width: 96px;
  height: 96px;
  border-radius: 48px;
}

.profile_name {
  margin: 0px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.profile_description {
  margin-top: 4px;
  text-align: center;
}

.language {
  padding: 8px 10px;
  font-size: 12px;
  border: 1px solid #212529;
  border-radius: 40px;
  color: #212529;
}

.language:hover {
  text-decoration: none;
}

#portuguese-language-switcher {
  position: absolute;
  width: 230px;
  top: 56px;
  left: 50%;
  transform: translate(-50%, 0px);
  text-align: center;
}

@media (min-width: 860px) {
  .sub-page #portuguese-language-switcher {
    position: absolute;
    top: 55px;
    left: 90px;
    transform: none;
  }
}

@media (min-width: 1280px) {
  .sub-page #portuguese-language-switcher {
    left: 100px;
  }
}

.sub-page header .profile {
  display: none;
}

.sub-page header .autocomplete {
  margin-bottom: 30px;
}

.single-media-page header .autocomplete {
  display: none;
}

.bottom_links {
  margin-top: 30px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_links a {
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  display: flex;
  align-items: center;
}

.bottom_links a:hover {
  text-decoration: none;
}

.email_icon {
  color: #212529;
  text-decoration: none;
  font-size: 32px;
  cursor: pointer;
}

.stickers {
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 1px solid #757575;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #2096cc;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  isolation: isolate;
  border-color: #c5c8cc #c5c8cc #757575;
}

#loader-spinner {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #2096cc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.developed-by {
  margin-top: 24px;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #2096cc;
  border-color: #2096cc;
}

.btn-primary[disabled] {
  background-color: rgba(32, 150, 204, 0.5);
  border-color: rgba(32, 150, 204, 0.5);
}

.autocomplete {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.autocomplete > div {
  width: 75%;
}

#title-bar {
  display: none;
  position: fixed;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  height: calc(env(titlebar-area-height, 50px));
  width: env(titlebar-area-width, 100%);
  background: linear-gradient(
    to right,
    #2096cc,
    rgba(32, 150, 204, 0.5),
    #2096cc
  );
  backdrop-filter: saturate(180%) blur(20px);
  align-items: center;
  gap: 6px;
  z-index: 3;
  -webkit-app-region: drag;
  app-region: drag;
}

.window-controls-overlay #title-bar {
  display: flex;
}

.window-controls-overlay .autocomplete {
  position: fixed;
  padding-top: 2px;
  padding-right: 2px;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, 50px);
  width: 30%;
  z-index: 3;
  left: calc(env(titlebar-area-width) + env(titlebar-area-x) - 30vw);
}

@media (min-width: 768px) {
  .window-controls-overlay .autocomplete {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .window-controls-overlay .autocomplete {
    width: 30%;
  }
}

.window-controls-overlay .autocomplete [class$='indicatorContainer'] {
  padding: 0 8px;
}

.window-controls-overlay #title-bar .title-bar-logo,
.window-controls-overlay #title-bar img {
  max-height: calc(env(titlebar-area-height, 38px) - 2px);
  max-width: calc(env(titlebar-area-height, 38px) - 2px);
  -webkit-app-region: no-drag;
}

.window-controls-overlay .autocomplete > div {
  width: 100%;
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.window-controls-overlay .navbar {
  display: none;
}

.window-controls-overlay header .profile {
  padding-top: calc(env(titlebar-area-height, 50px) + 48px);
}

.window-controls-overlay #loader-spinner {
  top: calc(env(titlebar-area-height, 0) + 10px);
}

.window-controls-overlay .viewer-container {
  margin-top: env(titlebar-area-height, 0);
}

.window-controls-overlay .main {
  padding-top: calc(env(titlebar-area-height, 0) + 20px) !important;
}

.window-controls-overlay .sidebar {
  padding-top: env(titlebar-area-height, 0);
}

.window-controls-overlay .autocomplete {
  display: none !important;
}

.window-controls-overlay .mobile-autocomplete {
  display: none !important;
}

.window-controls-overlay .mobile-autocomplete .autocomplete {
  display: block !important;
}

.window-controls-overlay #title-bar .title-bar-title {
  display: none;
  -webkit-app-region: no-drag;
  color: inherit;
}

.window-controls-overlay #title-bar .title-bar-title:hover {
  text-decoration: none;
}

@media (min-width: 710px) {
  .window-controls-overlay #title-bar .title-bar-title {
    display: block;
  }
}

@media (min-width: 810px) {
  .window-controls-overlay .mobile-autocomplete {
    display: block !important;
  }
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.5rem;
  background: linear-gradient(
    to right,
    rgba(248, 249, 250, 0),
    rgba(248, 249, 250, 0.15),
    rgba(248, 249, 250, 0)
  );
}

.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

.navbar-nav .nav-item.active .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.window-controls-overlay .navbar-nav {
  -webkit-app-region: no-drag;
}

.center_link {
  text-align: center;
  margin-bottom: 28px;
}

.center_link a,
.center_link button,
.btn {
  border: 1px #2096cc solid;
  padding: 10px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2096cc;
}

.center_link a:hover,
.center_link button:hover,
.btn:hover {
  background-color: #1a87b9;
  text-decoration: none;
}

.center_link a[disabled],
.center_link button[disabled],
.btn[disabled] {
  background-color: #55abd2;
}

.media_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .site-name {
  display: none;
}

@media (min-width: 400px) {
  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.instagram_highlights_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 400px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (min-width: 584px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 768px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 794px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}

@media (min-width: 989px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 1174px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  }
}

@media (min-width: 1254px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 1478px) {
  .instagram_highlights_items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.instagram_highlights_items img,
.instagram_highlights_items video {
  max-width: 100%;
}

.instagram_media_gallery_item img,
.instagram_media_gallery_item video {
  max-width: 100%;
}

@media (min-width: 424px) {
  .instagram_media_gallery_item.instagram_media_portrait img,
  .instagram_media_gallery_item.instagram_media_portrait video {
    max-width: 400px;
  }
}

.instagram_media_gallery_item {
  text-align: center;
  position: relative;
}

.instagram_media_gallery_item a {
  position: relative;
}

.instagram_media_is_gallery::after {
  content: url('/images/gallery.svg');
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.instagram_media_external_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.instagram_media_external_links a {
  display: flex;
}

.instagram_media_location a {
  margin-top: 4px;
  color: #2096cc;
}

.instagram_media_location a:hover {
  text-decoration: underline;
}

.instagram_media_video_thumbnail {
  position: relative;
}

.instagram_media_play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.instagram_media_map_icon {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.windows-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

a {
  color: #2096cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  background: linear-gradient(
    to right,
    rgba(248, 249, 250, 0),
    rgba(248, 249, 250, 0.15),
    rgba(248, 249, 250, 0)
  );
  padding-bottom: 16px;
}

.sort_picker {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.sort_picker a,
.maximize-button,
h2 a {
  color: #212529;
}

.sort_picker a:hover,
.maximize-button:hover {
  text-decoration: none;
}

.main_item img,
video {
  max-height: 90vh;
}

.single-pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

@media (max-width: 410px) {
  .single-pagination-buttons .btn {
    font-size: 14px;
  }
}

.scroller_scroller_items .scroller_vertical_content {
  width: 260px;
  height: 462px;
  object-fit: cover;
}

@media (min-width: 644px) {
  .scroller_scroller_items .scroller_vertical_content {
    width: 300px;
    height: 533px;
  }
}

.scroller_short_video_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.scroller_scroller_items {
  overflow-x: auto;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.scroller_scroller_item {
  flex: 0 0 260px;
  text-align: center;
  position: relative;
}

.scroller_scroller_item .scroller_item_360_photo img[loading] {
  width: 300px;
}

.scroller_scroller_item .scroller_item_360_photo {
  flex: 0 0 300px;
  text-align: center;
}

@media (min-width: 644px) {
  .scroller_scroller_item {
    flex: 0 0 300px;
  }

  .scroller_scroller_items .scroller_item_360_photo {
    flex: 0 0 400px;
  }

  .scroller_scroller_items .scroller_item_360_photo img[loading] {
    width: 400px;
  }
}

.scroller_scroller_items .scroller_scroller_item:not(:first-child) {
  margin-left: 10px;
}

.scroller_scroller_left_arrow,
.scroller_scroller_right_arrow {
  top: 0;
  bottom: 0;
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  display: none;
  user-select: none;
  align-items: center;
}

.scroller_scroller_left_arrow {
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.scroller_scroller_right_arrow {
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.scroller_youtube_video {
  height: 168px;
  object-fit: cover;
  width: 300px;
}

.scroller_scroller_items .scroller_youtube_video {
  max-width: 400px !important;
  width: 400px;
  height: 224px;
  object-fit: cover;
}

.scroller_is_gallery::after {
  content: url('/images/gallery.svg');
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.scroller_instagram_highlights_items .scroller_scroller_item {
  margin-bottom: 16px;
}

.scroller_external_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.scroller_external_links a {
  display: flex;
}

.scroller_location a {
  margin-top: 4px;
}

.scroller_video_thumbnail {
  position: relative;
}

.sidebar {
  width: 415px;
  position: fixed;
  overflow-x: hidden;
  border-right: 1px solid #000000;
  left: 0;
  top: 0;
  height: 100%;
  display: none;
}

.sidebar.home-page {
  display: none;
}

@media (max-width: 859px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .sidebar {
    display: block;
    position: initial;
    height: auto;
    border-right: 0;
    width: auto;
  }

  .sidebar .autocomplete,
  .sidebar .navbar {
    display: none;
  }

  .single-media-page .sidebar .autocomplete {
    display: flex;
  }

  .single-media-page .main {
    padding-top: 10px;
  }
}

.main {
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.main.home-page {
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

body:not(.sub-page) .mobile-navbar,
body:not(.sub-page) .mobile-autocomplete {
  display: none;
}

@media (min-width: 644px) {
  .main.home-page .autocomplete > div {
    width: 50%;
  }

  .main.home-page .site-name {
    display: block;
  }

  .main.home-page .navbar-brand {
    margin-right: 0.5rem;
  }
}

@media (min-width: 860px) {
  .sidebar {
    display: block;
    width: 390px;
  }

  .main {
    margin-left: 390px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-navbar,
  .mobile-autocomplete {
    display: none;
  }
}

@media (min-width: 1281px) {
  .sidebar {
    width: 415px;
  }

  .navbar {
    padding: 0rem 1rem;
  }

  .main {
    margin-left: 415px;
  }
}

.nav-tabs {
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
}

.sidebar .random-post-button-container {
  flex: 1;
  text-align: center;
}

.sidebar .random-post-button {
  margin-top: 10px;
}

.sub-page .main .random-post-button {
  margin-top: 0px;
}

@media (max-width: 860px) and (min-width: 510px) {
  .sidebar .random-post-button-container {
    flex: initial;
  }

  .sidebar .random-post-button {
    margin-top: 0px;
  }
}

#back-button {
  display: flex;
}

.short-videos-link {
  margin-top: -6.5px;
}

.short-videos-link a {
  display: inline-flex;
  flex-direction: column;
  line-height: 12px;
}

.short-videos-link small {
  font-size: 10px;
}
