.coupon {
  border: 1px solid #000000;
  border-radius: 8px;
  text-align: left;
}

@media (max-width: 600px) {
  .coupon {
    grid-column: 1 / 3;
  }
}

.coupon h3 {
  margin: 0;
}

.coupon_header {
  border-bottom: 1px solid #000000;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupon_code {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.coupon_body {
  padding: 16px 0px;
}

.coupon_body_padding {
  padding: 0px 16px;
}
