.country {
  padding: 8px;
  border: 1px solid #212529;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.country:hover {
  background: #dddddd;
}

.country_flag {
  font-size: 30px;
}

.country_selector {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vertical_content {
  width: 260px;
  height: 462px;
  object-fit: cover;
}

@media (min-width: 644px) {
  .vertical_content {
    width: 300px;
    height: 533px;
  }
}

.galleries img,
.galleries video {
  max-width: 100%;
}

.instagram_photos_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.instagram_photos_title a {
  text-decoration: underline;
}

.item_hashtags {
  margin-top: 4px;
}

.item_hashtags a {
  margin-top: 4px;
  color: #2096cc;
}

.item_hashtags a:hover {
  text-decoration: underline;
}

.short_video_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
